html,body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    font-weight: bold;
    scroll-snap-type: y mandatory;

}


:root{
    --visibility:0.8;
}
.snapContainers{
    scroll-snap-align: start;
}
section{
    height: 100vh;
}
/* Header */
#Header{
    background-color: #d0d0d0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#Header h1{
    font-size: 3rem;
}
#Header h2{
    font-size: 1.8rem;
}
/* Menu Begins */
#menuDropdown{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* width: 30vw; */
    font-size: 1.2rem;
    text-align: center;
    background: url(../Images/menu.jpg) no-repeat center center/cover;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
}

#menuDropdown ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;

    
}

#menuDropdown p{
    position: relative;
    left: 9px;
    background-color: white;
    width: 10vw;
    border-radius: 15px;
}

#menuUl{
    /* display: var(--isVisible); */
    padding: 0;
}




#menuDropdown li{

    background-color: white;
    width: 15vw;
    height: 30px;
    border-radius: 15px;
    margin: 3px;

    
}
#menuDropdown a{
    text-decoration: none;
    color: #000;
}

/* Inside Items begins */
.cuisineContainers{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    
}

.cuisineContainers p{
    text-align: center;
}




.items ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    
}

.items li{
    display:flex;
    font-size: 1.1rem;
    justify-content: space-around;
    
    
}

.items span{
    display: inline-block;
    width: 60vw;
    margin: 3px 0;
}

/* .items span span{
    display: inline;
    /* background-color: #c7c7c7;
    
} 
*/
.items button{
    width: 5vw;
    margin: 3px 0;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 15px;
}

#northIndian{
    background: url(../Images/northIndianBg.jpg) no-repeat center center/cover;
    background-color: rgba(255, 255, 255, var(--visibility));
    background-blend-mode: overlay;
}

#southIndian{
    background: url(../Images/southIndian.jpg) no-repeat center center/cover;
    background-color: rgba(255, 255, 255, var(--visibility));
    background-blend-mode: overlay;
    
}

#chinese{
    background: url(../Images/chinese.jpg) no-repeat center center/cover;
    background-color: rgba(255, 255, 255, var(--visibility));
    background-blend-mode: overlay;
}

#italian{
    background: url(../Images/italian.jpg) no-repeat center center/cover;
    background-color: rgba(255, 255, 255, var(--visibility));
    background-blend-mode: overlay;
}

@media screen and (max-width:855px){
    #menuDropdown li{
    width:90vw;
}
}
@media screen and (max-width:855px){
   
#Header h1{
    font-size: 2rem;
}
}
    

